<ion-header>
  <ion-toolbar color="primary" class="toolbar">
    <ion-title class="title">
      Pomodoro Timer
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="selectPresetTimer()">
        <ion-icon name="timer-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="clock-container">
      <div class="current-time">
        <ion-label>Current Time</ion-label>
        <div class="time-display">{{ realTimeClock }}</div>
      </div>
    </div>
    <div class="timer-container" [ngClass]="mode">
      <div class="mode-indicator">
        {{ mode === 'work' ? 'WORK SESSION' : 'BREAK TIME' }}
      </div>
      
      <div class="timer-display">
        {{ currentTime }}
      </div>
      
      <div class="progress-ring">
        <svg viewBox="0 0 100 100">
          <circle 
            class="progress-ring-circle" 
            cx="50" 
            cy="50" 
            r="45"
            [style.stroke-dashoffset]="283 - getProgressPercentage()">
          </circle>
        </svg>
      </div>
    </div>
    <div class="controls">
      <ng-container *ngIf="mode === 'work'">
        <ion-button 
          expand="block" 
          [disabled]="isRunning"
          (click)="startPomodoro()">
          Start Pomodoro
        </ion-button>
        
        <ion-button 
          expand="block" 
          [disabled]="!isRunning"
          (click)="resetTimer()">
          Reset
        </ion-button>
      </ng-container>
      
      <ng-container *ngIf="mode === 'break'">
        <ion-button 
          expand="block" 
          [disabled]="isRunning || breakTimerAutoStarted"
          (click)="startPomodoro()">
          Start Break Time
        </ion-button>
        
        <ion-button 
          expand="block" 
          (click)="resetBreakTimer()">
          Reset
        </ion-button>
        
        <ion-button 
          expand="block" 
          color="secondary"
          (click)="createNewPomodoro()">
          Create New Pomodoro
        </ion-button>
      </ng-container>
    </div>
  </div>
</ion-content>